<body>


<div class="container">
  <div class="row">
    <div class="col-md-4">

      <table>
        <tr>
           <td>Start Destination</td>
           <td><select name="Start Destination"[(ngModel)]="routeModel.startDestination">
              <option> Choose Dest</option>
              <option value ="Dallas" > Dallas</option>
              <option value ="Arlington" > Arlington</option>
              <option value ="Fort Worth" > Fort Worth</option>
              <option value ="Austin" > Austin</option>
              <option value ="San Antonio" > San Antonio</option>
              <option value ="Commerce" > Commerce</option>
              <option value ="Coppell" > Coppell</option>
              <option value ="Farmers Ranch" > Farmers Ranch</option>
              <option value ="Addison" > Addison</option>
              <option value ="Mckinney" > Mckinney</option>
              <option value ="Plano" > Plano</option>
              <option value ="Grapevine" > Grapevine</option>
              <option value ="Wiley" > Wiley</option>
              <option value ="Irving" > Irving</option>
            </select>
           </td>
        </tr>
        <tr>
          <td>End Destination</td>
          <td><select name="End Destination"[(ngModel)]="routeModel.endDestination">
              <option> Choose Dest</option>
              <option value ="Dallas" > Dallas</option>
              <option value ="Arlington" > Arlington</option>
              <option value ="Fort Worth" > Fort Worth</option>
              <option value ="Austin" > Austin</option>
              <option value ="San Antonio" > San Antonio</option>
              <option value ="Commerce" > Commerce</option>
              <option value ="Coppell" > Coppell</option>
              <option value ="Farmers Ranch" > Farmers Ranch</option>
              <option value ="Addison" > Addison</option>
              <option value ="Mckinney" > Mckinney</option>
              <option value ="Plano" > Plano</option>
              <option value ="Grapevine" > Grapevine</option>
              <option value ="Wiley" > Wiley</option>
              <option value ="Irving" > Irving</option>
            </select></td>
        </tr>
          <tr>
          <td>Dept Time</td>
          <td><input type="text" placeholder="Enter Dept Time" [(ngModel)]="routeModel.departTime"></td>
          </tr>
          <tr>
          <td>Est Arv Time</td>
          <td><input type="text" placeholder="Enter Arrival Time" [(ngModel)]="routeModel.arrivalTime"></td>
          </tr>
          <tr>
          <td>Status</td>
          <td><select name="Status"[(ngModel)]="routeModel.status">
              <option> Choose Status</option>
              <option value ="ON" > ON</option>
              <option value ="OFF" > OFF</option>
            </select></td>
          </tr>
          <input type="button" value="POST" (click)="postRoute()" *ngIf="!edit">
      </table>

      <table *ngIf="edit">
        <tr>
           <td>RouteId:</td>
           <td><input type="text" [(ngModel)]="routeModel.id" disabled></td>
        </tr>
        <tr>
           <td>Start Dest</td>
           <td><select name="Start Destination"[(ngModel)]="routeModel.startDestination">
              <option> Choose Dest</option>
              <option value ="Dallas" > Dallas</option>
              <option value ="Arlington" > Arlington</option>
              <option value ="Fort Worth" > Fort Worth</option>
              <option value ="Austin" > Austin</option>
              <option value ="San Antonio" > San Antonio</option>
              <option value ="Commerce" > Commerce</option>
              <option value ="Coppell" > Coppell</option>
              <option value ="Farmers Ranch" > Farmers Ranch</option>
              <option value ="Addison" > Addison</option>
              <option value ="Mckinney" > Mckinney</option>
              <option value ="Plano" > Plano</option>
              <option value ="Grapevine" > Grapevine</option>
              <option value ="Wiley" > Wiley</option>
              <option value ="Irving" > Irving</option>
            </select></td>
        </tr>
        <tr>
          <td>End Dest</td>
          <td><select name="End Destination"[(ngModel)]="routeModel.endDestination">
              <option> Choose Dest</option>
              <option value ="Dallas" > Dallas</option>
              <option value ="Arlington" > Arlington</option>
              <option value ="Fort Worth" > Fort Worth</option>
              <option value ="Austin" > Austin</option>
              <option value ="San Antonio" > San Antonio</option>
              <option value ="Commerce" > Commerce</option>
              <option value ="Coppell" > Coppell</option>
              <option value ="Farmers Ranch" > Farmers Ranch</option>
              <option value ="Addison" > Addison</option>
              <option value ="Mckinney" > Mckinney</option>
              <option value ="Plano" > Plano</option>
              <option value ="Grapevine" > Grapevine</option>
              <option value ="Wiley" > Wiley</option>
              <option value ="Irving" > Irving</option>
            </select></td>
        </tr>
          <tr>
          <td>Depart Time</td>
          <td><input type="text" [(ngModel)]="routeModel.departTime"></td>
          </tr>
          <tr>
          <td>Arrival Time</td>
          <td><input type="text" [(ngModel)]="routeModel.arrivalTime"></td>
          </tr>
          <tr>
          <td>Status</td>
          <td>
            <select name="Status"[(ngModel)]="routeModel.status">
              <option> Choose Status</option>
              <option value ="ON" > ON</option>
              <option value ="OFF" > OFF</option>
            </select>
          </td>
          </tr>
      </table>

    </div> 
    
  </div>
</div>
</body>

