
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#3b5998;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
<ul>
  <li><a routerLink ="/home" routerLinkActive="active" >Home</a></li>
  <li><a routerLink ="/vehicle" routerLinkActive="active">Vehicle</a></li>
  <li><a routerLink ="/route" routerLinkActive="active">Route</a></li>
  <li><a routerLink ="/vehiclelist" routerLinkActive="active">Vehicle List</a></li>
  <li><a routerLink ="/routelist" routerLinkActive="active">Route List</a></li>
 </ul>
<router-outlet></router-outlet>